{% load static %}
{% load maininfo_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'maininfo/img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preload" href="{% static 'maininfo/css/styles.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
      <link rel="stylesheet" href="{% static 'maininfo/css/styles.css' %}" />
    </noscript>
    <title>MLBBINFO - Сайт по игре MLBB</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container container">
        <a class="header__logo-link" href="{% url 'home' %}">
          <svg class="header__logo">
            <use xlink:href="{% static 'maininfo/img/sprite.svg' %}#logo"></use>
          </svg>
        </a>
        <nav class="header__nav nav">
          <ul class="nav__list">
            {% show_menu request %}
          </ul>
        </nav>
      </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
      <div class="footer__main">
        <div class="footer__container container">
          <a class="footer__logo-link" href="{% url 'home' %}">
            <svg class="footer__logo">
              <use xlink:href="{% static 'maininfo/img/sprite.svg' %}#logo"></use>
            </svg>
          </a>

          <nav class="footer__nav">
            <div class="footer__nav-block">
              <h3 class="footer__nav-title">Навигация</h3>
              <ul class="footer__list">
                {% show_menu request %}
              </ul>
            </div>

            <div class="footer__nav-block">
              <h3 class="footer__nav-title">Доп. информация</h3>
              <ul class="footer__list">
                <li class="nav__item">
                  <a class="nav__link" href="https://art1hard.github.io/taplink/">Разработчик сайта</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Поддержать проект</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#">Политика конфиденциальности</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="footer__footer">
        <div class="footer__footer-container container">
          <small class="footer__copy">&copy; 2025 MLBB INFO. Все права защищены.</small>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer src="{% static 'maininfo/js/fade-in.js' %}"></script>
    <script defer src="{% static 'maininfo/js/main-slider.js' %}"></script>
  </body>
</html>
