{% extends 'base.html' %}
{% load static %}
{% load maininfo_tags %}

{% block content %}
  <main>
    <section class="intro">
      <div class="intro__container container">
        <h1 class="intro__title">{{ title|safe|linebreaksbr }}</h1>
        <div class="intro__btns"></div>
        <a class="intro__btn main-btn" href="{% url 'hero' %}">Посмотреть героев</a>
        <a class="intro__btn main-btn" href="{% url 'about' %}">Перейти к гайдам</a>
      </div>
    </section>
  </main>
{% endblock %}
